@using ContainerControl.Domain.Model
@model Container

<div class="container-fluid form-group" data-bind="with: model">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.NroContainer)
            @Html.TextBoxFor(m => m.NroContainer, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.CodigoIso)
            @*<select ID="edxCodigoIso" name="edxCodigoIso" class="form-control">
                <option value="-1">--Selecione--</option>
                @foreach (CodigoIso codigoIso in ViewBag.CodigosIso)
                {
                    <option value="@codigoIso.Id">@codigoIso.Nome</option>
                }
            </select>*@
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.Fabricacao)
            @Html.TextBoxFor(m => m.Fabricacao, new { @class = "form-control", @type = "datetime-local" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Tara)
            @Html.TextBoxFor(m => m.Tara, new { @class = "form-control", @type = "number" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.CM)
            @Html.TextBoxFor(m => m.CM, new { @class = "form-control", @type = "number" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.Peso)
            @Html.TextBoxFor(m => m.Peso, new {@class = "form-control", @type = "number"})
        </div>
    </div>
</div>